@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@400;600;700&display=swap");
.modal {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__content {
  width: 370px;
  height: 585px;
  background: #000;
  filter: drop-shadow(0 0 50px rgba(7, 175, 239, 0.7));
  border-radius: 30px;
  padding: 32px 38px;
  text-align: center;
  margin: auto;
  margin-top: 7%;
}
.modal__content-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}
.modal__content-logo {
  width: 177px;
  height: 60px;
}
.modal__content-close {
  color: #07AFEF;
  font-size: 64px;
  font-weight: 300;
  height: 50px;
  margin-top: -12px;
  text-decoration: none;
}
.modal__content-text {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #07AFEF;
  letter-spacing: 1.5px;
  margin: 40px 0;
}
.modal__content-number {
  font-family: "Orbitron", sans-serif;
  color: #07AFEF;
}
.modal__content-block {
  margin-left: 20px;
  margin-bottom: 35px;
}
.modal__content-mark {
  background-color: #182639;
  border-radius: 30px 0 0 30px;
  padding: 8px 6px 4px 9px;
  position: absolute;
  z-index: 1;
}
.modal__content-image {
  width: 24px;
  height: 24px;
}
.modal__content-input {
  color: #FFF;
  background-color: #161C24;
  border: none;
  outline: none;
  font-size: 16px;
  width: 280px;
  height: 40px;
  padding-left: 32px;
  border-radius: 30px;
}
.modal__content-button {
  padding: 10px 28px;
  text-decoration: none;
  border: 2px solid #07AFEF;
  border-radius: 30px;
  transition: all 0.3s;
}
.modal__content-button:hover {
  background-color: #07AFEF;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.modal__confirm {
  display: flex;
  justify-content: space-between;
  margin: 50px 10px 25px 10px;
}
.modal__confirm-text {
  font-size: 14px;
}
.modal__link {
  color: #07AFEF;
  text-decoration: underline;
}

.password {
  margin-bottom: 50px;
}

.menu {
  padding-top: 54px;
}
.menu-top {
  text-align: right;
  margin-right: -60px;
}
.menu-item {
  display: inline-block;
  margin-right: 60px;
}
.menu-item:nth-child(5) {
  margin-right: 0;
}
.menu-item:first-child {
  float: left;
  margin-top: -20px;
}
.menu-link {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
  transition: all 0.3s;
}
.menu-link:hover {
  color: #07AFEF;
  transition: all 0.3s;
}
.menu-button {
  padding: 12px 33px;
  border: 2px solid #07AFEF;
  border-radius: 30px;
  transition: all 0.3s;
}
.menu-button:hover {
  background-color: #07AFEF;
  color: #000;
  transition: all 0.3s;
}
.menu-burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-burger-bar {
  color: #07AFEF;
  display: block;
  width: 25px;
  height: 4px;
  background-color: #07AFEF;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
}
.menu-burger.active .menu-burger-bar:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-burger.active .menu-burger-bar:nth-child(2) {
  opacity: 0;
}
.menu-burger.active .menu-burger-bar:last-child {
  transform: rotate(-45deg) translate(6.5px, -6px);
}
.menu-burger-element {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu-mobile {
  display: none;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  width: 480px;
}
.menu-mobile-top {
  list-style: none;
}
.menu-mobile-burger-element {
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-bottom: 15px;
}
.menu-mobile-link {
  text-decoration: none;
}

.footer-line {
  filter: drop-shadow(0 0 10px rgba(7, 175, 239, 0.5));
  padding-top: 50px;
}
.footer-block {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.footer-block__text {
  padding-top: 7px;
  color: #C5C5C5;
}
.footer-block__social {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding-right: 30px;
}
.footer-block__icon {
  width: 35px;
  height: 35px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #FFF;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 74px;
  font-weight: 600;
}

span {
  color: #07AFEF;
  font-weight: 500;
}

hr {
  color: #07AFEF;
}

.lines {
  margin: 107px 0;
}

body {
  background-color: #000;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.slider {
  position: relative;
  z-index: -1;
  margin-top: -70px;
}

.slider-mobile {
  display: none;
}

.adv-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.adv-blockitem {
  width: 285px;
  padding: 108px 0;
}
.adv-blockitem__mainnum {
  margin-top: -10px;
  color: #07AFEF;
  font-size: 84px;
}
.adv-blockitem__text {
  font-size: 22px;
  font-weight: 400;
}
.adv-blockitem__maintext {
  font-size: 26px;
}

.frt-blockitem h2 {
  width: 480px;
  font-size: 74px;
  color: #07AFEF;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

.frt-blockitem__computerpic {
  float: left;
}
.frt-blockitem__computertext {
  float: right;
  padding-top: 260px;
  padding-right: 20px;
}
.frt-blockitem__chairpic {
  margin-left: 50px;
  float: left;
}
.frt-blockitem__chairtext {
  float: left;
  padding-left: 50px;
  margin-top: -440px;
}
.frt-blockitem__devicerpic {
  float: left;
}
.frt-blockitem__devicetext {
  float: right;
  padding-top: 180px;
  margin-right: 25px;
}

.info-block {
  margin-top: 44px;
}

.info-blockitem {
  margin-top: 110px;
}
.info-blockitem__pic {
  filter: drop-shadow(0 0 60px rgba(7, 175, 239, 0.3));
  float: left;
}
.info-blockitem__textblock {
  float: right;
  margin-right: 90px;
  padding-top: 84px;
}
.info-blockitem__text {
  width: 450px;
  font-size: 23px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 400;
}
.info-blockitem__text span {
  font-weight: 600;
}

.price {
  padding-top: 40px;
  width: 1137px;
  display: flex;
  color: #FFF;
  justify-content: space-between;
  position: relative;
}
.price-mainblock {
  filter: drop-shadow(0 0 60px rgba(7, 175, 239, 0.3));
}
.price-secondaryblock {
  padding-top: 30px;
  height: 551px;
}
.price-block__info {
  width: 305px;
  margin-top: 60px;
  position: absolute;
}
.price-block__infotitle {
  font-size: 36px;
  text-align: center;
  margin-left: -10px;
}
.price-block__info:last-child {
  left: 73%;
}
.price-block__infotext {
  text-align: center;
}
.price-block__infotext h3 {
  font-size: 24px;
  margin-top: 48px;
}
.price-block__infotext span {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}
.price-block__infotime {
  display: flex;
  font-size: 20px;
  margin-top: 48px;
  margin-left: 21px;
}
.price-block__infotime hr {
  position: relative;
  width: 23%;
  margin: 14px 10px;
}

.mainblock {
  position: absolute;
  left: 36.5%;
  bottom: 9%;
}

@media all and (max-width: 534px) {
  .container {
    max-width: 267px;
  }
  .menu-top {
    position: relative;
  }
  .menu-button {
    display: none;
  }
  .menu-burger {
    margin-top: -35px;
    display: block;
  }
  .menu-burger-element {
    display: none;
  }
  .menu-mobile.show {
    position: absolute;
    display: block;
    transform: translateY(0);
    top: 85px;
    left: 0;
    width: 148%;
    height: 440px;
    z-index: 1;
    padding: 10px;
  }
  .menu-mobile-top {
    position: absolute;
  }
  .logo {
    width: 150px;
    height: 30px;
  }
  .slider {
    display: none;
  }
  .slider-mobile {
    margin-top: 20px;
    margin-left: 40px;
    display: block;
  }
  .adv-block {
    flex-wrap: wrap;
  }
  .adv-blockitem {
    padding: 50px 0;
  }
  .adv-blockitem__mainnum {
    font-size: 78px;
  }
  .frt-blockitem__computerpic {
    width: 350px;
    height: 480px;
    margin-left: -40px;
  }
  .frt-blockitem h2 {
    width: 239px;
    font-size: 40px;
  }
  .frt-blockitem__computertext {
    padding-top: 0;
    padding-right: 10px;
  }
  .frt-blockitem__chairpic {
    width: 350px;
    height: 480px;
    margin-left: -40px;
  }
  .frt-blockitem__chairtext {
    margin-top: 20px;
    margin-left: -32px;
  }
  .frt-blockitem__devicepic {
    width: 350px;
    height: 345px;
    margin-left: -40px;
  }
  .frt-blockitem__devicetext {
    padding-top: 0;
    margin-right: 10px;
  }
  .info-blockitem {
    margin-left: 20px;
  }
  .info-blockitem__pic {
    margin-left: -22px;
    width: 275px;
    height: 420px;
  }
  .info-blockitem__text {
    width: 280px;
    font-size: 14px;
  }
  .info-blockitem__textblock {
    margin-right: -4px;
  }
  .price {
    display: grid;
    width: 230px;
    right: 8%;
  }
  .price img {
    z-index: -1;
    position: relative;
    left: 20%;
  }
  .price-block__info:first-child {
    left: 5%;
  }
  .price-block__info:nth-child(3) {
    top: 34.5%;
    left: 10%;
  }
  .price-block__info:last-child {
    top: 68.5%;
    left: 4%;
  }
  .price-block__infotime {
    margin-left: 44px;
  }
  .price-block__infotitle {
    font-size: 24px;
  }
  .price-block__infotext h3 {
    font-size: 16px;
    margin-top: 35px;
  }
  .price-block__infotime {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 58px;
  }
  .price-block__infotime__title {
    font-size: 16px;
  }
  .price-block__infotime hr {
    width: 16%;
    top: -6px;
  }
  .price-secondaryblock {
    width: 219px;
    height: 424px;
  }
  .price-mainblock {
    width: 249px;
    height: 464px;
    margin-top: 25px;
  }
  .map {
    margin-top: -40px;
    margin-left: 4px;
    width: 264px;
  }
  .lines {
    margin: 20px 0;
  }
  .footer-line {
    padding-top: 20px;
    width: 100%;
  }
  .footer-block {
    margin-left: 50px;
    flex-wrap: wrap;
  }
  .footer-block__text {
    margin-top: -8px;
    margin-bottom: 18px;
    font-size: 12px;
  }
  .footer-block__social {
    width: 170px;
  }
  .footer-block__icon {
    width: 24px;
    height: 24px;
  }
}/*# sourceMappingURL=style.css.map */